<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="module"
        src="https://unpkg.com/@deckdeckgo/highlight-code@latest/dist/deckdeckgo-highlight-code/deckdeckgo-highlight-code.esm.js"></script>

</head>

<body>
    <div id="root">
        <div class="center-container">
            
            <div id="hc" class="header-container">
                <header>
                    <a href="/"><img src="{{ url_for('static', filename='logo.png') }}" id="top" class="header-logo"></a>

                </header>


            </div>

            <main id="main">
                <div class="window">
                    <div class="window-title-bar">
                        <span>&gt; </span>
                        SPOOF.doc
                    </div>

                    <div class="window-content">
                        
                            
                        <form action="/spoof" method="post">
                            <input type="text" name="gateway_ip" placeholder="Enter Gateway IP">
                            <input type="text" name="target_ip" placeholder="Enter Target IP">
                            <button type="submit">Start Spoofing</button>
                        </form>
                        
                        <div id="status-window">
                            <p>Packets Sent: <span id="packet-count">{{ packet_count }}</span></p>
                            <button onclick="restore()">Restore</button>
                        </div>
                        
                        

                    </div>
            </main>
            <div class="nav-container" id="nc">
                <div class="nav"><a id="start-btn" class="nav-btn" href="/">
                    <p class="nav-btn-text">Home</p>
                    <div></div>
                </a><a id="about-btn" class="nav-btn" href="/about">
                    <p class="nav-btn-text">About</p>
                    <div></div>
                </a><a id="event-btn" class="nav-btn" href="/scan">
                    <p class="nav-btn-text">Scan</p>
                    <div></div>
                </a><a id="faq-btn" class="nav-btn active" href="/spoof">
                    <p class="nav-btn-text">Spoof</p>
                    <div></div>
                </a><a id="coc-btn" class="nav-btn" href="/sniff">
                    <p class="nav-btn-text">Sniff</p>
                    <div></div>
                </a></div>
            </div>

        </div>

    </div>


</body>

</html>